
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo center">Edit User</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    </ul>
  </div>
</nav>

<div class="row"></div>
<a href="/" class="btn waves-effect waves-light" type="submit" name="action">Return Home
  <i class="material-icons"></i>
</a>
<div class=" large">
  <div class="card-content">
    <div class="row">
      <form method="post" action="/user_edit" class="col s5">
        <input type="hidden" name="_method" value="PATCH">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="row">
          <div class="input-field col s12">
            <input name="first_name" type="text" class="validate">
            <label for="first_name"><%= @user_edit.first_name %></label>
          </div>
          <% if flash[:first_name] %>
              <div class="input-field col s12">
                <div id="card-alert" class="card red">
                  <div class="card-content center white-text">
                    <p>Sorry : <%= flash[:first_name] %></p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="last_name" type="text" class="validate">
            <label for="last_name"><%= @user_edit.last_name %></label>
          </div>
          <% if flash[:last_name] %>
              <div class="input-field col s12">
                <div id="card-alert" class="card red">
                  <div class="card-content center white-text">
                    <p>Sorry : <%= flash[:last_name] %></p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="email" type="email" class="validate">
            <label for="email"><%= @user_edit.email %></label>
          </div>
          <% if flash[:email] %>
              <div class="input-field col s12">
                <div id="card-alert" class="card red">
                  <div class="card-content center white-text">
                    <p>Sorry : <%= flash[:email] %></p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input name="password" type="password" value="<%= @user_edit[:password] %>" class="validate">
            <label for="password">Password</label>
          </div>
          <% if flash[:password] %>
              <div class="input-field col s12">
                <div id="card-alert" class="card red">
                  <div class="card-content center white-text">
                    <p>Sorry : <%= flash[:password] %></p>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <input name="id" type="hidden" value="<%= @user_edit.id %>">
        <button class="btn waves-effect waves-light" type="submit" name="action">Edit User
          <i class="material-icons"></i>
        </button>
        <div class="center">
        </div>
      </form>
    <div class="row">
          <div class="col s5 m5">
            <div class="card-panel white">
              <span class="black-text">
                <span class="card-title">Current User</span>
                <ul>
                  <li>First Name :<%= @user_edit.first_name %></li>
                  <li>Last Name :<%= @user_edit.last_name %></li>
                  <li>Email :<%= @user_edit.email %></li>
                </ul>
              </span>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>