<nav>
  <div class="nav-wrapper">
    <a class="brand-logo center">Welcome</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    </ul>
  </div>
</nav>
<div class="notice"><%= flash[:notice] %></div>
<div class="row"></div>
<div class="row"></div>
<div class=" large">
  <div class="card-content">
    <div class="row">
      <div class="col s6">
        <a href="/new" class="btn waves-effect waves-light" type="submit" name="action">New User Page
          <i class="material-icons"></i>
        </a>
      </div>
      <div class="col s4"> Total Users <%=	 @users.count %></div>
    </div>
    <table class="highlight centered responsive-table">
      <thead>
      <tr>
        <th data-field="first_name">First Name</th>
        <th data-field="last_name">Last Name</th>
        <th data-field="Email">Email Address</th>
        <th data-field="id">ID</th>
        <th data-field="Action"></th>
      </tr>
      </thead>
      <tbody>
      <%	@users.each do |user|  %>
          <tr>
            <td><%= user.first_name  %></td>
            <td> <%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.id %></td>
            <td><a href="/show<%= user.id %>" class="btn waves-effect waves-light blue">Show</a></td>
            <td><a href="/edit<%= user.id %>" class="btn waves-effect waves-light green">Edit</a></td>
          </tr>
      <%	end  %>
      </tbody>
    </table>
    <% if flash[:deleted] %>
        <div id="card-alert" class="card yellow">
          <div class="card-content center black-text">
            You Have Deleted The Fallowing User
            <ul>
              <li>Name: <%= flash[:deleted]['first_name'] %> <%= flash[:deleted]['last_name'] %></li>
              <li>Email: <%= flash[:deleted]['email'] %> </li>
            </ul>
          </div>
        </div>
    <% end %>
  </div>
</div>


